body {
  padding-top: 45px;
}

.add-to-cart, .card-title{
  display: inline-block;
}

.add-to-cart{
  background-image: url("../images/shopping_cart_add.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-left: 10px;
}

#imaginary_container{
  margin-top:30%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
border-right:0; 
box-shadow:0 0 0; 
border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

@media (min-width: 992px) {
  body {
    padding-top: 55px;
  }
}
